@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');

:root {
	--grid-color: white;
	--font-color: white;
	--background-color: #0B2B57;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Cherry Bomb One", serif;
	color: var(--font-color);
}

body {
	background-color: var(--background-color);
}

#main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 100dvh;
	background-color: var(--background-color);
}

#opening {
	display: flex;
	flex-direction: column;
	place-items: center;
	gap: 30px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--font-color);
	text-align: center;
	padding: 20px;
	font-size: 1.5rem;
	z-index: 10; 
}

#player {
	color: var(--background-color);
	text-align: center;
	font-size: 1.5rem;
}

input::placeholder {
	color: rgb(189, 189, 189);
}

header {
	color: var(--font-color);
	margin-top: 10px;
	font-size: 1.5rem;
}

#sound {
	position: absolute;
	top: 25px;
	right: 45px;
	cursor: pointer; 
	z-index: 10;
}

#timer {
	position: absolute;
	margin-top: 75px;
	color: var(--font-color);
	cursor: pointer;
}

#side-boards {
	justify-self: center;
	display: flex;
	flex-wrap: wrap;
	gap: 60vw;
	color: var(--font-color);
}

ul {
	list-style-type: none;
}

#maze {
	position: absolute;
	width: 340px;
	height: 340px;
	top: 50vh;
	left: 50%;
	transform: translate(-50%, -50%);
}

#santa,
#exit,
#cookie,
#clock,
#kid,
#key {
	position: absolute;
	width: 20px;
	height: 20px;
	font-size: 18px;
	display: flex;
	place-items: center;
}

#cookie.hide,
#clock.hide,
#kid.hide,
#key.hide {
	display: none;
}

.wall {
	position: absolute;
	background: var(--grid-color);
}

#top,
#bottom {
	height: 2px;
}

#top {
	top: 20px;
	left: 20px;
	width: 300px;
}

#bottom {
	top: 320px;
	left: 20px;
	width: 302px;
}



#result,
#countdown {
	position: absolute;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#result {
	font-size: 1.8rem;
}

#countdown {
	font-size: 11rem;
}

#result.show,
#countdown.show {
	display: flex;
}

.game-btns {
	position: absolute;
	bottom: 50px;
	width: 300px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	justify-items: center;
}

button {
	color: var(--font-color);
	border: 1px solid var(--font-color);
	cursor: pointer;
	padding: 5px;
	border-radius: 50px;
	font-size: 1rem;
	background-color: var(--background-color);
	width: 130px;
}

button:hover {
	background-color: var(--font-color);
	color: var(--background-color);
}

#play.hide,
#restart.hide,
#play-again {
	display: none;
}

#play-again.show {
	display: block;
	grid-column: span 2;
}

footer {
	color: var(--font-color);
	margin-bottom: 5px;
}

.snow-bg {
	position: relative;
}

.snow-bg:after {
	content: '';
	position: absolute;
	inset: 0;
	pointer-events: none;
	animation: snow 15s linear infinite;
	background-image: url('/assets/images/snow1.png'), url('/assets/images/snow2.png'), url('/assets/images/snow3.png');
}

@keyframes snow {
	0% {
		background-position: 0 0;
	}
	33% {
		background-position: 300px 400px, 50px 150px, -80px 100px;
	}
	66% {
		background-position: 600px 800px, 120px 300px, -150px 200px;
	}
	100% {
		background-position: 900px 1200px, 200px 500px, -200px 350px;
	}
}

/* @media (max-width: 768px) {
	#side-boards {
		flex-direction: column; 
	}
} */