@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');

:root {
	--grid-color: red;
	--font-color: #416b46;
	--background-color: #f9f6ee;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Cherry Bomb One", serif;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 100dvh;
	background-color: var(--background-color);
}

header {
	color: var(--font-color);
	margin-top: 10px;
	font-size: x-large;
}

#timer {
	position: absolute;
	margin-top: 80px;
	color: var(--font-color);
}

#maze {
	position: absolute;
	width: 340px;
	height: 340px;
	top: 50vh;
	left: 50%;
	transform: translate(-50%, -50%);
}

#santa,
#exit {
	position: absolute;
	width: 20px;
	height: 20px;
	font-size: 18px;
	display: flex;
	place-items: center;
}

.wall {
	position: absolute;
	background: var(--grid-color);
}

#top,
#bottom {
	height: 2px;
}

#top {
	top: 20px;
	left: 20px;
	width: 300px;
}

#bottom {
	top: 320px;
	left: 20px;
	width: 302px;
}

.game-btns {
	position: absolute;
	bottom: 50px;
}

.game-btns {
  width: 300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

#restart,
#play {
	color: var(--font-color);
	border: 1px solid var(--font-color);
	cursor: pointer;
  padding: 5px;
  border-radius: 50px;
  font-size: 1rem;
  background-color: var(--background-color);
}

#restart:hover,
#play:hover {
  background-color: var(--font-color);
	color: var(--background-color);
}

footer {
	color: var(--font-color);
	margin-bottom: 5px;
}